@tailwind base;
@tailwind components;
@tailwind utilities;

/* css */
h1{
    font-size: 25px;
    font-weight: bold;
}
p{
    font-weight: lighter;
    color: black;
}
.img-div{
    width: 120px;
    height: 120px;
    background: white;
    border: 2px solid rgb(129, 129, 237);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-dec{
    background: white;
    border: 2px solid rgb(129, 129, 237);
    border-radius: 10px;
    padding: 20px;
}